@page "/"
@rendermode InteractiveServer

<PageTitle>WiZ Controller</PageTitle>

<div class="container">
    <header>
        <h1>WiZ Light Controller</h1>
        <div class="controls">
            <button class="btn-on" @onclick="TurnAllOn">All On</button>
            <button class="btn-off" @onclick="TurnAllOff">All Off</button>
        </div>
    </header>

    <div class="light-grid">
        @for (int i = 0; i < LightIps.Length; i++)
        {
            var ip = LightIps[i];
            var lightName = LightNames[i];

            <div class="card">
                <h5>@lightName</h5>
                
                <div class="brightness-control">
                    <label>Brightness</label>
                    <input type="range" min="0" max="100"
                           value="@_brightness.GetValueOrDefault(ip, 0)"
                           @onchange="(e) => ChangeBrightness(ip, e)" />
                </div>
            </div>
        }
    </div>
</div>
